*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #131313;


}

a {
  font-weight: 500;
  color: #fcfafa;
  text-decoration: inherit;
}
a:hover {
  color: #000;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



