*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{

    display: flex;
    justify-content: space-between;
    background-color:#1C2662;
    width: 100%;
    padding: 10px;


}
.nav-bar li{
 list-style: none;
 display: inline;
margin: 10px;

}
@media screen and (max-width: 480px) {
    .nav-bar li{
        list-style: none;
        display: inline;
       margin: 10px;
       font-size: 15px;
    }

}
@media screen and (max-width: 320px) {
    .nav-bar li{
        list-style: none;
        display: inline;
       margin: 10px;
       font-size: 10px;
    }
}